
<!DOCTYPE html>
<!--[if IE 8]>      <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>      <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
  <head>

    <!-- Basic -->
    <meta charset="utf-8">
    <title>About Us</title>   
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
    <!-- Theme CSS -->
  </head>
  <body>

    <div class="body">
          <%= render :partial => "/layouts/header" %>


      <div role="main" class="main">

        <section class="page-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <ul class="breadcrumb">
                  <li><a href="/">Home</a></li>
                  <li class="active">clients</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h2>Clients</h2>
              </div>
            </div>
          </div>
        </section>
               
      
            
       




<div class="container">
            <div class="row">
             <div class="col-md-12 col-xs-12">
                 <div class="col-md-12">
                        <div class="col-md-12">
              <section class="toggle">
                <label><i class="icon icon-minus"></i><i class="icon icon-plus"></i>Indian Space Research Organisation (ISRO), Telemetry, Tracking & Command Network (ISTRAC)</label>
                <div class="toggle-content" style="display: none;">
                  <p><strong>Descriptions of Equipment Supply:</strong></p>
                  <ul style="list-style:none;">
                    <li><p><i class="icon icon-check"></i>&nbsp;Telemetry Modules</p></li>
                    <li><p><i class="icon icon-check"></i>&nbsp;Timing Modules</p></li>
                  </ul>
                </div>
              </section>
              <section class="toggle">
                <label><i class="icon icon-minus"></i><i class="icon icon-plus"></i>Vikram Sarabhai Space Center</label>
                <div class="toggle-content" style="display: none;">
                  <p><strong>Descriptions of Equipment Supply:</strong></p>
                  <ul style="list-style:none;">
                    <li><p><i class="icon icon-check"></i>&nbsp;Telemetry Modules</p></li>
                    <li><p><i class="icon icon-check"></i>&nbsp;Timing Modules</p></li>
                  </ul>
                </div>
              </section>
              <section class="toggle">
                <label><i class="icon icon-minus"></i><i class="icon icon-plus"></i>Master Control Facility</label>
                <div class="toggle-content" style="display: none;">
                  <p><strong>Descriptions of Equipment Supply:</strong></p>
                  <ul style="list-style:none;">
                    <li><p><i class="icon icon-check"></i>&nbsp;Telemetry Modules</p></li>
                    <li><p><i class="icon icon-check"></i>&nbsp;Timing Modules</p></li>
                  </ul>
                </div>
              </section>
              <section class="toggle">
                <label><i class="icon icon-minus"></i><i class="icon icon-plus"></i>ISRO Satellite Center</label>
                <div class="toggle-content" style="display: none;">
                  <p><strong>Descriptions of Equipment Supply:</strong></p>
                  <ul style="list-style:none;">
                    <li><p><i class="icon icon-check"></i>&nbsp;Telemetry System</p></li>
                  </ul>
                </div>
              </section>
              <section class="toggle">
                <label><i class="icon icon-minus"></i><i class="icon icon-plus"></i> Space Applications Center</label>
                <div class="toggle-content" style="display: none;">
                  <p><strong>Descriptions of Equipment Supply:</strong></p>
                  <ul style="list-style:none;">
                    <li><p><i class="icon icon-check"></i>&nbsp; Telemetry Modules</p></li>
                  </ul>
                </div>
              </section>
              <section class="toggle">
                <label><i class="icon icon-minus"></i><i class="icon icon-plus"></i>  Satish Dhawan Space Center(SHAR)</label>
                <div class="toggle-content" style="display: none;">
                  <p><strong>Descriptions of Equipment Supply:</strong></p>
                  <ul style="list-style:none;">
                    <li><p><i class="icon icon-check"></i>&nbsp; Timing Modules</p></li>
                     <li><p><i class="icon icon-check"></i>&nbsp;  Antenna Control Units</p></li>
                  </ul>
                </div>
              </section>
              <section class="toggle">
                <label><i class="icon icon-minus"></i><i class="icon icon-plus"></i> Liquid Propulsion Systems Centre</label>
                <div class="toggle-content" style="display: none;">
                  <p><strong>Descriptions of Equipment Supply:</strong></p>
                  <ul style="list-style:none;">
                    <li><p><i class="icon icon-check"></i>&nbsp;  Timing Modules</p></li>
                  </ul>
                </div>
              </section>
              <section class="toggle">
                <label><i class="icon icon-minus"></i><i class="icon icon-plus"></i>  Aeronautical Development Agency</label>
                <div class="toggle-content" style="display: none;">
                  <p><strong>Descriptions of Equipment Supply:</strong></p>
                  <ul style="list-style:none;">
                    <li><p><i class="icon icon-check"></i>&nbsp;   Comprehensive Telemetry Data Acquisition and Processing Station</p></li>
                    <li><p><i class="icon icon-check"></i>&nbsp Timing Modules</p></li>
                     <li><p><i class="icon icon-check"></i>&nbsp MIL 1553</p></li>
                     <li><p><i class="icon icon-check"></i>&nbsp  ARINC 429</p></li>
                     <li><p><i class="icon icon-check"></i>&nbsp  Quad Channel Receivers</p></li>
                      <li><p><i class="icon icon-check"></i>&nbsp   Bit Synchronizers</p></li>
                    <li><p><i class="icon icon-check"></i>&nbsp   V/UHF Communications Systems</p></li>
                    <li><p><i class="icon icon-check"></i>&nbsp    Cockpit Environmental Facility</p></li>
                  </ul>
                </div>
              </section>
              <section class="toggle">
                <label><i class="icon icon-minus"></i><i class="icon icon-plus"></i>   Aeronautical Development Establishment</label>
                <div class="toggle-content" style="display: none;">
                  <p><strong>Descriptions of Equipment Supply:</strong></p>
                  <ul style="list-style:none;">
                    <li><p><i class="icon icon-check"></i>&nbsp; Comprehensive Telemetry Data Acquisition and Processing Station</p></li>
                    <li><p><i class="icon icon-check"></i>&nbsp  Timing Modules</p></li>
                     <li><p><i class="icon icon-check"></i>&nbsp  Aero Engine Control Unit</p></li>
                  </ul>
                </div>
              </section>
              <section class="toggle">
                <label><i class="icon icon-minus"></i><i class="icon icon-plus"></i>   Aircraft & Systems Testing Establishment (ASTE)</label>
                <div class="toggle-content" style="display: none;">
                  <p><strong>Descriptions of Equipment Supply:</strong></p>
                  <ul style="list-style:none;">
                    <li><p><i class="icon icon-check"></i>&nbsp;  Comprehensive Telemetry Data Acquisition and Processing Station</p></li>
                  </ul>
                </div>
              </section>
              <section class="toggle">
                <label><i class="icon icon-minus"></i><i class="icon icon-plus"></i>   Bharat Electronics Limited</label>
                <div class="toggle-content" style="display: none;">
                  <p><strong>Descriptions of Equipment Supply:</strong></p>
                  <ul style="list-style:none;">
                    <li><p><i class="icon icon-check"></i>&nbsp; Comprehensive Telemetry Data Acquisition and Processing Station</p></li>
                    <li><p><i class="icon icon-check"></i>&nbsp;  Timing Modules</p></li>
                     <li><p><i class="icon icon-check"></i>&nbsp;  Mobile HUD Test Benches</p></li>
                  </ul>
                </div>
              </section>
              <section class="toggle">
                <label><i class="icon icon-minus"></i><i class="icon icon-plus"></i>   Brahmos Aerospace Systems (P) Ltd.</label>
                <div class="toggle-content" style="display: none;">
                  <p><strong>Descriptions of Equipment Supply:</strong></p>
                  <ul style="list-style:none;">
                    <li><p><i class="icon icon-check"></i>&nbsp; Time Reference Systems</p></li>
                    <li><p><i class="icon icon-check"></i>&nbsp;  Glonass Almanac Servers</p></li>
                     <li><p><i class="icon icon-check"></i>&nbsp;  Ground Checkout Systems</p></li>
                  </ul>
                </div>
              </section>
              <section class="toggle">
                <label><i class="icon icon-minus"></i><i class="icon icon-plus"></i>  Central Scientific Instruments Organization.</label>
                <div class="toggle-content" style="display: none;">
                  <p><strong>Descriptions of Equipment Supply:</strong></p>
                  <ul style="list-style:none;">
                    <li><p><i class="icon icon-check"></i>&nbsp; Head Up Display & MFD Test Bench</p></li>
                  </ul>
                </div>
              </section>
              <section class="toggle">
                <label><i class="icon icon-minus"></i><i class="icon icon-plus"></i>   Defence Research & Development Laboratory.</label>
                <div class="toggle-content" style="display: none;">
                  <p><strong>Descriptions of Equipment Supply:</strong></p>
                  <ul style="list-style:none;">
                    <li><p><i class="icon icon-check"></i>&nbsp; Airborne Flight Instrumentation Unitsn</p></li>
                    <li><p><i class="icon icon-check"></i>&nbsp;  Comprehensive Telemetry Data Acquisition and Processing Station</p></li>
                     <li><p><i class="icon icon-check"></i>&nbsp;Timing Modules </p></li>
                    <li><p><i class="icon icon-check"></i>&nbsp;PCM to Ethernet converters </p></li>
                    <li><p><i class="icon icon-check"></i>&nbsp;  Bit Synchronizers</p></li>
                     <li><p><i class="icon icon-check"></i>&nbsp; Receivers</p></li>
                      <li><p><i class="icon icon-check"></i>&nbsp; Ground Checkout Systems</p></li>
                     <li><p><i class="icon icon-check"></i>&nbsp;  Solid State Recorders</p></li>
                  </ul>
                </div>
              </section>
              <section class="toggle">
                <label><i class="icon icon-minus"></i><i class="icon icon-plus"></i>  Electronics Corporation of India Limited.</label>
                <div class="toggle-content" style="display: none;">
                  <p><strong>Descriptions of Equipment Supply:</strong></p>
                  <ul style="list-style:none;">
                    <li><p><i class="icon icon-check"></i>&nbsp; Time Reference Systems</p></li>
                  </ul>
                </div>
              </section>
              <section class="toggle">
                <label><i class="icon icon-minus"></i><i class="icon icon-plus"></i>   Hindustan Aeronautics Limited.</label>
                <div class="toggle-content" style="display: none;">
                  <p><strong>Descriptions of Equipment Supply:</strong></p>
                  <ul style="list-style:none;">
                    <li><p><i class="icon icon-check"></i>&nbsp; Comprehensive Telemetry Data Acquisition and Processing Station</p></li>
                    <li><p><i class="icon icon-check"></i>&nbsp;   Timing Modules</p></li>
                     <li><p><i class="icon icon-check"></i>&nbsp;Automated Test Benches </p></li>
                    <li><p><i class="icon icon-check"></i>&nbsp; V/UHF Communications Systems</p></li>
                  </ul>
                </div>
              </section>
              <section class="toggle">
                <label><i class="icon icon-minus"></i><i class="icon icon-plus"></i>  Indian Air Force.</label>
                <div class="toggle-content" style="display: none;">
                  <p><strong>Descriptions of Equipment Supply:</strong></p>
                  <ul style="list-style:none;">
                    <li><p><i class="icon icon-check"></i>&nbsp; End to End Telemetry Data Acquisition System</p></li>
                    <li><p><i class="icon icon-check"></i>&nbsp;    Telemetry Transmitters</p></li>
                     <li><p><i class="icon icon-check"></i>&nbsp; Receivers </p></li>
                    <li><p><i class="icon icon-check"></i>&nbsp;  V/UHF Communications Systems</p></li>
                  </ul>
                </div>
              </section>
              <section class="toggle">
                <label><i class="icon icon-minus"></i><i class="icon icon-plus"></i>  Integrated Test Range.</label>
                <div class="toggle-content" style="display: none;">
                  <p><strong>Descriptions of Equipment Supply:</strong></p>
                  <ul style="list-style:none;">
                    <li><p><i class="icon icon-check"></i>&nbsp;  Comprehensive Telemetry Data Acquisition and Processing Station</p></li>
                    <li><p><i class="icon icon-check"></i>&nbsp;    Timing Systems</p></li>
                     <li><p><i class="icon icon-check"></i>&nbsp;  Antenna Control Units </p></li>
                    <li><p><i class="icon icon-check"></i>&nbsp;   Radar Control System</p></li>
                     <li><p><i class="icon icon-check"></i>&nbsp; Program Clocks</p></li>
                  </ul>
                </div>
              </section>
              <section class="toggle">
                <label><i class="icon icon-minus"></i><i class="icon icon-plus"></i>  Kaiser Italia.</label>
                <div class="toggle-content" style="display: none;">
                  <p><strong>Descriptions of Equipment Supply:</strong></p>
                  <ul style="list-style:none;">
                    <li><p><i class="icon icon-check"></i>&nbsp;  Comprehensive Telemetry Data Acquisition and Processing Station</p></li>
                  </ul>
                </div>
              </section>
              <section class="toggle">
                <label><i class="icon icon-minus"></i><i class="icon icon-plus"></i>  Larsen & Toubro.</label>
                <div class="toggle-content" style="display: none;">
                  <p><strong>Descriptions of Equipment Supply:</strong></p>
                  <ul style="list-style:none;">
                    <li><p><i class="icon icon-check"></i>&nbsp;  Comprehensive Telemetry Data Acquisition and Processing Station</p></li>
                  </ul>
                </div>
              </section>
               <section class="toggle">
                <label><i class="icon icon-minus"></i><i class="icon icon-plus"></i>  LUCAS TVS.</label>
                <div class="toggle-content" style="display: none;">
                  <p><strong>Descriptions of Equipment Supply:</strong></p>
                  <ul style="list-style:none;">
                    <li><p><i class="icon icon-check"></i>&nbsp;   Aero Generator Control Units</p></li>
                  </ul>
                </div>
              </section>
               <section class="toggle">
                <label><i class="icon icon-minus"></i><i class="icon icon-plus"></i>   National Aerospace Laboratories.</label>
                <div class="toggle-content" style="display: none;">
                  <p><strong>Descriptions of Equipment Supply:</strong></p>
                  <ul style="list-style:none;">
                    <li><p><i class="icon icon-check"></i>&nbsp;    Telemetry Data Acquisition and Processing Station</p></li>
                     <li><p><i class="icon icon-check"></i>&nbsp;     Generic Data Acquisition Modules</p></li>
                  </ul>
                </div>
              </section>
              <section class="toggle">
                <label><i class="icon icon-minus"></i><i class="icon icon-plus"></i>   Research Center Imarat.</label>
                <div class="toggle-content" style="display: none;">
                  <p><strong>Descriptions of Equipment Supply:</strong></p>
                  <ul style="list-style:none;">
                    <li><p><i class="icon icon-check"></i>&nbsp;    Comprehensive Telemetry Data Acquisition and Processing Station</p></li>
                     <li><p><i class="icon icon-check"></i>&nbsp;     Timing modules</p></li>
                       <li><p><i class="icon icon-check"></i>&nbsp;    Program Clocks</p></li>
                  </ul>
                </div>
              </section>
              <section class="toggle">
                <label><i class="icon icon-minus"></i><i class="icon icon-plus"></i> Software Development Institute.</label>
                <div class="toggle-content" style="display: none;">
                  <p><strong>Descriptions of Equipment Supply:</strong></p>
                  <ul style="list-style:none;">
                    <li><p><i class="icon icon-check"></i>&nbsp;    INS Test Bench</p></li>
                     <li><p><i class="icon icon-check"></i>&nbsp;     HUDWAC Promming Station</p></li>
                     <li><p><i class="icon icon-check"></i>&nbsp;     Upgrade of MIG 21 Bison SI RIG</p></li>
                  </ul>
                </div>
              </section>
            </div>
           </div>
           </div>
          </div><!--container-->



          
      </div>

        <%= render :partial => "/layouts/footer" %>
    </div>

    <!-- Libs -->
    <%= render :partial => "/layouts/js_script" %>

  </body>
</html>