  <!DOCTYPE html>
<!--[if IE 8]>      <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>      <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
<head>
  <!-- Basic -->
  <meta charset="utf-8">
  <title>Partner Page</title>   
  <meta name="keywords" content="HTML5 Template" />
  <meta name="description" content="Porto - Responsive HTML5 Template">
  <meta name="author" content="okler.net">
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Web Fonts  -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
  <!-- Libs CSS -->
</head>

<div class="body">
    <%= render :partial => "/layouts/header" %>




  <div role="main" class="main">

        <section class="page-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <ul class="breadcrumb">
                  <li><a href="/">Home</a></li>
                  <li class="active">Partners</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h2>Partnerships</h2>
              </div>
            </div>
          </div>
        </section>
          
        <div class="container main-sdr-container">
          <div class="row">
            <div class="col-md-12">
              <h3 class="push-top">List <strong>of Partnerships</strong></h3>
            </div>
          </div>
            <div class="row">
            <div class="col-md-12">
              <ul class="history">
                <li data-appear-animation="fadeInUp" class="appear-animation fadeInUp appear-animation-visible">
                  <div class="thumb">
                    <img class="img-responsive appear-animation fadeInDownBig appear-animation-visible" src="/assets/img/gdp.png"  data-appear-animation="fadeInDownBig">
                  </div>
                  <div class="featured-box" style="height: auto;">
                    <div class="box-content">
                      <!-- <h4><strong>Descriptions</strong></h4> -->
                      <p>
                        Technology Partnership with GDP Space Systems Inc., USA a 
                        division of Delta Information Systems, USA for designs,
                        sales, marketing, installation and maintenance of Telemetry
                        Sub systems in India
                      </p>
                    </div>
                  </div>
                </li>
                <li data-appear-animation="fadeInUp" class="appear-animation fadeInUp appear-animation-visible">
                  <div class="thumb">
                      <img class="img-responsive appear-animation fadeInDownBig appear-animation-visible" src="/assets/img/bhe.png"  data-appear-animation="fadeInDownBig">
                  </div>
                  <div class="featured-box" style="height: auto;">
                    <div class="box-content">
                      <!-- <h4><strong>Descriptions</strong></h4> -->
                      <p>
                      Technology Partnership with BHE Bonn Hungary Electronics Ltd., Budapest 
                      for design, development &amp; sales, installation and maintenance of Airborne / 
                      Ground based RF systems in India, USA and Australia
                      
                      </p>
                    </div>
                  </div>
                </li>
                <li data-appear-animation="fadeInUp" class="appear-animation fadeInUp appear-animation-visible">
                  <div class="thumb">
                    <img class="img-responsive appear-animation fadeInDownBig appear-animation-visible" src="/assets/img/sys.png"  data-appear-animation="fadeInDownBig">
                  </div>
                  <div class="featured-box" style="height: auto;">
                    <div class="box-content">
                      <!-- <h4><strong>Descriptions</strong></h4> -->
                      <p>
                             Technology Partnership with AA Systel, France for designs, sales, marketing, 
                               installation and maintenance of Parabolic Antenna Systems in India
                      </p>
                    </div>
                  </div>
                </li>
                <li data-appear-animation="fadeInUp" class="appear-animation fadeInUp appear-animation-visible">
                  <div class="thumb">
                    <img class="img-responsive appear-animation fadeInDownBig appear-animation-visible" src="/assets/img/rock.png"  data-appear-animation="fadeInDownBig">
                  </div>
                  <div class="featured-box" style="height: auto;">
                    <div class="box-content">
                      <!-- <h4><strong>Descriptions</strong></h4> -->
                      <p>
                            Support Services partner with Rockwell Collins for installation and
                            maintenance of Communications Systems in India
                      
                      </p>
                    </div>
                  </div>
                </li>
                <li data-appear-animation="fadeInUp" class="appear-animation fadeInUp appear-animation-visible">
                  <div class="thumb">
                    <img style="height:40px;margin-top:10px;" class="/assets/img-responsive appear-animation fadeInDownBig appear-animation-visible" src="/assets/img//gts.jpg"   data-appear-animation="fadeInDownBig">
                  </div>
                  <div class="featured-box" style="height: auto;">
                    <div class="box-content">
                      <!-- <h4><strong>Descriptions</strong></h4> -->
                      <p>
                           Technology Partnership with GTS Solutions, Korea for sales, marketing,
                           installation and maintenance of Telemetry, 
                           Timing and Control systems from Park Controls in Korea, Japan &amp; Australia.
                      </p>
                    </div>
                  </div>
                </li>
              </ul>

            </div>
            <div class="row">
                <div class="col-lg-12">
              
              </div>
            </div>
          </div>
      </div>
      </div>

    
      <%= render :partial => "/layouts/footer" %>
</div>

<!-- Libs -->
<%= render :partial => "/layouts/js_script" %>

</body>
</html>