    <header id="header">
        <div class="container">
        
          <h1 class="logo">
            <a href="/">
              <img alt="Porto" width="111" height="54" data-sticky-width="82" data-sticky-height="40" src="/assets/img/logo.png">
            </a>
          </h1>
          
          <nav>
            <ul class="nav nav-pills nav-top">
              
              <li class="phone">
                <span><i class="icon icon-phone"></i>+91-80-2529 2513</span>
              </li>
              <li class="phone">
                <span><i class="icon icon-envelope"></i>info@parkcontrols.com</span>
              </li>
            </ul>
          </nav>
  

        </div>

        <div class="navbar-collapse nav-main-collapse collapse">
          <div class="container">
            <ul class="social-icons">
              <li class="facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook">Facebook</a></li>
              <li class="twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter">Twitter</a></li>
              <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin">Linkedin</a></li>
            </ul>
            <nav class="nav-main mega-menu">
              <ul class="nav nav-pills nav-main" id="mainMenu">
                <li>
                  <a href="/homes/about">
                    About Us
                    <!-- <i class="icon icon-angle-down"></i> -->
                  </a>
                  <!-- <ul class="dropdown-menu">
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="about-us-basic.html">About Us - Basic</a></li>
                    <li><a href="about-me.html">About Me</a></li>
                  </ul> -->
                </li>
        <li class="dropdown">
                  <a class="dropdown-toggle" href="#">
                    PRODUCTS
                    <i class="icon icon-angle-down"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-submenu">
                      <a href="#">RF</a>
                      <ul class="dropdown-menu" style="margin-left: 0px;">
                        <li><a href="/homes/sdr">SDR based Transmitters</a></li>
                        <li><a href="/homes/feature_icons">Power Amplifiers</a></li>
                        <li><a href="/homes/ampli">Power Dividers</a></li>
                        <li><a href="/homes/combiner">Combiners</a></li>
                        <li><a href="/homes/low">Low Noise Amplifiers</a></li>
                        <li><a href="/homes/down">Down Convertors</a></li>
                        <li><a href="/homes/modulator">Modulators</a></li>
                      </ul>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="#">Telemetry</a>
                      <ul class="dropdown-menu" style="margin-left: 0px;">
                        <li><a href="/homes/airbone">Airborne/MIL Ruggedized Instrumentation Systems</a></li>
                        <li><a href="/homes/pcm">PCM Encoders</a></li>
                        <li><a href="/homes/antenna">Antenna Systems (up to 3 mts.)</a></li>
                        <li><a href="/homes/receiver">Telemetry Receivers</a></li>
                        <li><a href="/homes/bit">Bit Synchronizers</a></li>
                        <li><a href="/homes/document">Decommutators</a></li>
                        <li><a href="/homes/software">Telemetry Application Software</a></li>
                        <li><a href="/homes/video">Video decoders</a></li>
                      </ul>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="#">TIMING</a>
                      <ul class="dropdown-menu" style="margin-left: 0px;">
                        <li><a href="/homes/system">Time Reference Systems</a></li>
                        <li><a href="/homes/generator">Time Code Generators</a></li>
                        <li><a href="/homes/reader">Time Code Readers</a></li>
                        <li><a href="/homes/display">Time Displays</a></li>
                        <li><a href="/homes/inserter">Video Time Inserters</a></li>
                      </ul>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="#">Controls</a>
                      <ul class="dropdown-menu" style="margin-left: 0px;">
                        <li><a href="/homes/power_control">Power Control Units</a></li>
                        <li><a href="/homes/engine_control">Engine Control Units</a></li>
                        <li><a href="/homes/generator_control">Generator Control Units</a></li>
                        <li><a href="/homes/antenna_control">Antenna Control Units</a></li>
                      </ul>
                    </li>
                    <li class="dropdown-submenu">
                      <a href="#">Others</a>
                      <ul class="dropdown-menu" style="margin-left: 0px;">
                        <li><a href="/homes/unit">Airborne Engine Interface Unit</a></li>
                        <li><a href="/homes/recorder">Airborne Digital Video Recorder</a></li>
                        <li><a href="/homes/loader">Air Data Loaders</a></li>
                        <li><a href="/homes/mil">MIL 1553 boards</a></li>
                        <li><a href="/homes/board">ARINC boards</a></li>
                      </ul>
                    </li>
                                     </ul>
                </li>
                <li>
                  <a href="/homes/service">
                    Services
                    <!-- <i class="icon icon-angle-down"></i> -->
                  </a>
                  <!-- <ul class="dropdown-menu">
                    <li><a href="portfolio-4-columns.html">4 Columns</a></li>
                    <li><a href="portfolio-3-columns.html">3 Columns</a></li>
                    <li><a href="portfolio-2-columns.html">2 Columns</a></li>
                    <li><a href="portfolio-lightbox.html">Portfolio Lightbox</a></li>
                    <li><a href="portfolio-timeline.html">Portfolio Timeline</a></li>
                    <li><a href="portfolio-full-width.html">Portfolio Full Width</a></li>
                    <li><a href="portfolio-single-project.html">Single Project</a></li>
                  </ul> -->
                </li>
                <li>
                  <a href="/homes/client">
                    Clients
                    <!-- <i class="icon icon-angle-down"></i> -->
                  </a>
                            <!--  <ul class="dropdown-menu">
                    <li class="dropdown-submenu">
                      <a href="#">Shop</a>
                      <ul class="dropdown-menu">
                        <li><a href="shop-full-width.html">Shop - Full Width</a></li>
                        <li><a href="shop-sidebar.html">Shop - Sidebar</a></li>
                        <li><a href="shop-product-full-width.html">Shop - Product Full Width</a></li>
                        <li><a href="shop-product-sidebar.html">Shop - Product Sidebar</a></li>
                        <li><a href="shop-cart.html">Shop - Cart</a></li>
                        <li><a href="shop-login.html">Shop - Login</a></li>
                        <li><a href="shop-checkout.html">Shop - Checkout</a></li>
                      </ul>
                    </li>
                    <li><a href="page-full-width.html">Full width</a></li>
                    <li><a href="page-left-sidebar.html">Left sidebar</a></li>
                    <li><a href="page-right-sidebar.html">Right sidebar</a></li>
                    <li><a href="page-custom-header.html">Custom Header</a></li>
                    <li><a href="page-404.html">404 Error</a></li>
                    <li><a href="page-team.html">Team</a></li>
                    <li><a href="page-services.html">Services</a></li>
                    <li><a href="page-careers.html">Careers</a></li>
                    <li><a href="page-faq.html">FAQ</a></li>
                    <li><a href="page-login.html">Login / Register</a></li>
                    <li><a href="sitemap.html">Sitemap</a></li>
                  </ul> -->
                </li>
                <li><a href="/homes/partner">Tech-Partner</a></li>
                <li >
                  <a  href="/homes/contact">
                    Contact Us
                    <!-- <i class="icon icon-angle-down"></i> -->
                  </a>
                  <!-- <ul class="dropdown-menu">
                    <li><a href="contact-us.html">Contact Us - Basic</a></li>
                    <li><a href="contact-us-advanced.php">Contact Us - Advanced</a></li>
                  </ul> -->
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>